@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #fefdfd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  color: #000000;
  z-index: 999;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.logout-dropdown-container {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  border-radius: 25px;
}

.logout-dropdown {
  list-style: none;
  padding: unset;
  margin: unset;
}

.logout-dropdown li {
  padding: 14px;
  transition: all linear 0.3s;
}

.logout-dropdown-container:hover {
  background: rgba(198, 153, 247, 0.8);
  cursor: pointer;
  color: #000;
}
